<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<meta name="keywords" content="last.fm, music, friends, google, maps" />
<meta name="description" content="An application to obtain and visualize a network of Last.fm friends." />
<meta name="application-name" content="Last.fm Network" />
<meta name="author" content="Mariana Alfafar & Friends" />

  <title>Last.fm Network</title>
  <%= favicon_link_tag %>
  
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <h1><a href="/">Last.fm Network</a></h1>
     <%= form_tag fetch_user_path, :remote => true, :'data-type' => 'xml', :id => 'header-search', :style => "display: none" do %>
        <%= text_field_tag :q, nil, :id => nil, :placeholder => "Type the name of a user..." %>
      <% end %>
  </div>

  <div id="content">
		<%= yield %>
	</div>
  
  <div id="footer">
	</div>

  <%= javascript_include_tag "application" %>
</body>
</html>




	